<div id="booking" class="section" style="overflow-y: auto;">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form [formGroup]="searchForm" (ngSubmit)="search()">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>

                                    <select class="form-control" id="departure" name="Service"
                                        formControlName="departure" (change)="departureChanged()">
                                        <option placeholder="City or airport" [value]="serv.city_airport"
                                            *ngFor="let serv of departureCities">
                                            {{ serv.city_airport }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label" for="adults">Adults (18+)</span>
                                    <select name="adults" id="adults" class="form-control" formControlName="adults">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label" for="sudents">Students</span>
                                    <select name="sudents" id="sudents" class="form-control" formControlName="students">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <span class="form-label">Flyning to</span>

                                    <select class="form-control" id="arrival" name="Service" formControlName="arrival"
                                        (change)="arrivalChanged()">
                                        <option [value]="serv.city_airport" *ngFor="let serv of arrivalCities">
                                            {{ serv.city_airport }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label" for="youths12_17">Youths from 12 to 17:</span>
                                    <select class="form-control" name="youths12_17" id="youths12_17"
                                        formControlName="youths12_17">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label" for="children2_11">Children from 2 to 11:</span>
                                    <select class="form-control" name="children2_11" id="children2_11"
                                        formControlName="children2_11">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input type="date" min="{{ dateToday() }}" class="form-control"
                                        formControlName="date" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label" for="class-type">Travel class</span>
                                    <select class="form-control" name="class-type" formControlName="cabin_class"
                                        id="cabin-class">
                                        <option value="economy">Economy</option>
                                        <option value="premium">
                                            Premium economy
                                        </option>
                                        <option value="business">
                                            Business
                                        </option>
                                        <option value="first">First</option>
                                    </select>

                                    <span class="select-arrow"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label" for="toddlers_on_lap">Toddlers on lap:</span>
                                    <select class="form-control" name="toddlers_on_lap" id="toddlers_on_lap"
                                        formControlName="toddlers_on_lap">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label" for="toddlers_in_own_seat">Toddlers in own seat:</span>
                                    <select class="form-control" name="toddlers_in_own_seat" id="toddlers_in_own_seat"
                                        formControlName="toddlers_in_own_seat">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-14">
                                <div class="form-btn">
                                    <button class="submit-btn" type="submit" id="search-flight"
                                        [disabled]="!searchForm.valid">
                                        Show flights
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='filteredResults && searchResults.length>0' class="container" style="height: 100%;">
        <div id="flight-results-full">
            <div id="filters">
                <span class="filters-main-header">Filters</span>
                <div class="filters-body">
                    <div>
                    <button class="filters-sub-header" id="filters-stops"
                        (click)="toggleSection(filterStops)">Stops</button>
                    <div #filterStops class="filters-sub-section">
                        <div *ngFor="let filter of filterState.stops.values; let i = index" class="filters-item">
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" class="checkbox-input" id="checkbox-{{i}}"
                                    (change)="filtersChange($event, filter, 'stops')" checked>
                                <label for="checkbox-{{i}}" class="checkbox-label">
                                    <span class="checkbox">
                                    </span>
                                </label>
                                <span class="filter-value">
                                    {{filter.title}}
                                </span>
                            </div>
                            <div class="filter-value-info">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div>

                    <button class="filters-sub-header" id="filters-airports"
                        (click)="toggleSection(filterAirports)">Depart from</button>
                    <div #filterAirports class="filters-sub-section">
                        <!--                      TODO:Implement    -->
                        <div *ngFor="let filter of filterState.airports_from.values; let j = index" class="filters-item">
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" class="checkbox-input" id="checkbox-{{j}}-departure"
                                    (change)="filtersChange($event, filter, 'airports_from')" checked>
                                <label for="checkbox-{{j}}-departure" class="checkbox-label">
                                    <span class="checkbox">
                                    </span>
                                </label>
                                <span class="filter-value">
                                    {{filter.title}}
                                </span>
                            </div>
                            <div class="filter-value-info">
                            </div>
                        </div>
                    </div>
                    </div>

                    <div>

                    <button class="filters-sub-header" id="filters-airports"
                        (click)="toggleSection(filterAirports_to)">Arrive to</button>
                    <div #filterAirports_to class="filters-sub-section">
                        <!--                      TODO:Implement    -->
                        <div *ngFor="let filter of filterState.airports_to.values; let j = index" class="filters-item">
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" class="checkbox-input" id="checkbox-{{j}}-to"
                                    (change)="filtersChange($event, filter, 'airports_to')" checked>
                                <label for="checkbox-{{j}}-to" class="checkbox-label">
                                    <span class="checkbox">
                                    </span>
                                </label>
                                <span class="filter-value">
                                    {{filter.title}}
                                </span>
                            </div>
                            <div class="filter-value-info">
                            </div>
                        </div>
                    </div>
                    <div>
                    <button class="filters-sub-header" id="filters-airports"
                        (click)="toggleSection(filterCompanies)">Airlines</button>
                    <div #filterCompanies class="filters-sub-section">
                        <!--                      TODO:Implement    -->
                        <div *ngFor="let filter of filterState.companies.values; let j = index" class="filters-item">
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" class="checkbox-input" id="checkbox-{{j}}-companies"
                                    (change)="filtersChange($event, filter, 'companies')" checked>
                                <label for="checkbox-{{j}}-companies" class="checkbox-label">
                                    <span class="checkbox">
                                    </span>
                                </label>
                                <span class="filter-value">
                                    {{filter.title}}
                                </span>
                            </div>
                            <div class="filter-value-info">
                            </div>
                        </div>
                    </div>
                    </div>

                    </div>

                </div>
            </div>
            <div *ngIf="filteredResults && filteredResults.length>0" id="flight-results">
                <div *ngFor="let ticket of filteredResults" class="ticket-block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div>
                                    <b>{{ticket.date_time_from | date : "HH:mm"}} - {{ticket.date_time_in | date :
                                        "HH:mm"}}</b>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    {{ ticket.airport_departure_IATA }} {{ ticket.airport_departure_name }} - {{
                                    ticket.airport_arrival_IATA }} {{ ticket.airport_arrival_name }}
                                </div>
                            </div>
                            <div class="row"><br /></div>
                            <div class="row">
                                <div id="additional_info">
                                    Company: {{ ticket.company }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div>
                                    <b>Duration: {{ ticket.duration }}</b>
                                </div>
                            </div>
                            <div class="row"><br /></div>
                            <div class="row">
                                <div>{{ ticket.route.stops }}</div>
                            </div>
                            <div class="row">
                                <div *ngIf="ticket.route" class="ticket-route">
                                    <div *ngFor="let route of ticket.route.transfers">
                                        <div title="{{
                                            route.waiting_time
                                        }} stopover {{ route.airport_name }}">
                                            {{ route.airport_IATA }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="outer">
                                <div class="inner"></div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="row">
                                <div>
                                    <b>{{ ticket.total_price }}</b>
                                </div>
                                <br />
                                <div *ngIf="ticket.price_for_person" id="additional_info">
                                    {{ ticket.price_for_person }}/person
                                </div>
                                <br />
                            </div>
                            <div class="row">
                                <a id="order-button" href="{{ ticket.url }}">Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="filteredResults && filteredResults.length==0" id="flight-results">
                <span class="no-results">No results found</span>
            </div>
        </div>
    </div>
</div>